{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-transform-runtime",
    ["babel-plugin-styled-components"],
    ["react-intl", {
      "messagesDir": "./src/common/i18n/extracted-messages"
    }],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@Grid": "./src/grid",
      }
    }]
  ]
}
